.table {
    display: flex;
    padding-top: 163px;
    width: 100%;
    z-index: 1;
    .times {
        &__blocks {
            position: relative;
            top: 51px;
            margin-right: 10px;
            margin-left: 10px;
            height: 60px;
            color: #70757a;
        }
    }
    .lines {
        &__blocks {
            height: 60px;
            width: 10px;
            border-top: 1px solid #dddfe2;
        }
    }
    .table-sections {
        position: relative;
        width: 100%;
        &__section {
            position: relative;
            display: flex;
            height: 60px;
            width: 100%;
            border-top: 1px solid #dddfe2;
            border-left: 1px solid #dddfe2;
        }
        &__line {
            display: flex;
        }
    }
}